@page "/gioithieu"

<MudCarousel Class="mud-width-full" Style="height:400px;width:100%" ShowArrows="@arrows" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object" Size="@Size.Large">
    <MudCarouselItem Transition="transition">
        <MudImage Fluid="true" Src="https://bookbuy.vn/Res/Images/Album/f6e4b9eb-066d-4e9e-b404-e2e6f820b447.png?w=880&scale=both&h=320&mode=crop&fbclid=IwAR38CGcLndvqOwvDZilH9Z92_4SLcvfVdk2YD0jD6ApLmWQJ4RThcLtvCsM" Size="@Size.Large" Style="height:400px;width:100%" />
    </MudCarouselItem>
    <MudCarouselItem Transition="transition">
        <MudImage Fluid="true" Src="https://theme.hstatic.net/1000363117/1000911694/14/ms_banner_img3.jpg?v=380" Size="@Size.Large" Style="height:400px;width:100%" />
    </MudCarouselItem>

    <MudCarouselItem Transition="transition">
        <MudImage Fluid="true" Src="https://theme.hstatic.net/1000363117/1000911694/14/ms_banner_img4.jpg?v=380" Size="@Size.Large" Style="height:400px;width:100%" />
    </MudCarouselItem>

    <MudCarouselItem Transition="transition">
        <MudImage Fluid="true" Src="https://theme.hstatic.net/1000363117/1000911694/14/ms_banner_img5.jpg?v=380" Size="@Size.Large" Style="height:400px;width:100%" />
    </MudCarouselItem>

    <MudCarouselItem Transition="transition">
        <MudImage Fluid="true" Src="https://theme.hstatic.net/1000363117/1000911694/14/ms_banner_img2.jpg?v=380" Size="@Size.Large" Style="height:400px;width:100%" />
    </MudCarouselItem>
</MudCarousel>

<MudGrid>
    <MudItem >
        <div style="border:0">
        <MudPaper Elevation="0" Class=" align-center justify-center mud-width-full py-8" style="background: #FFF8E1">
                <MudImage Fluid="true" Src="https://scontent.fdad2-1.fna.fbcdn.net/v/t1.15752-9/356546103_1436505350433605_7422629630128260117_n.png?_nc_cat=107&ccb=1-7&_nc_sid=ae9488&_nc_ohc=tRWwkRP8G4AAX9tFSVD&_nc_oc=AQmh7UB2YG0N-Is7BYDzTnFJj2ZCKyFvctAC64GhiMe1aCwIncCD4tNT4aVKDyb8IxM&_nc_ht=scontent.fdad2-1.fna&oh=03_AdTqzL0MLz52bBuxLCo7oyVFTSKfwZTrEWYuEeuaGkMsUg&oe=64C384BB" style="width:600px;" />
        </MudPaper>
        </div>
    </MudItem>
    <MudItem>
        <MudPaper Elevation="0" Class="d-flex align-center justify-center mud-width-full py-8" style="background: #FFF8E1 ;width:800px;">
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <MudText Align="Align.Center" Style="text-align:justify">
                <br /><br /><br /><br /><br /><br /><br />
                <b>SỨ MỆNH VÀ MỤC TIÊU</b>
                <br />
                Với sứ mệnh xóa bỏ mọi giới hạn về không gian trong việc phân phối "tri thức" đến mọi miền đất nước bằng mô hình mua sắm trực tuyến hiện đại, từ miền núi đến hải đảo xa xôi, từ thành phố đến vùng quê và từ Việt Nam đến kiều bào ta ở trên toàn thế giới.
                <br />
                Mục tiêu của chúng tôi là luôn mở rộng thị trường sách trực tuyến cùng với đà phát triển của công nghệ thông tin. Để thực hiện mục tiêu đó, chúng tôi đã có những nhận thức đúng đắn về vai trò của nguồn nhân lực trong xây dựng và phát triển kinh doanh. Chúng tôi đã và đang không ngừng hoàn thiện hơn nữa môi trường làm việc với các trang thiết bị hiện đại, cung cách làm việc hiệu quả để ngày càng hoàn thiện việc phục vụ khách hàng.
            </MudText>
        </MudPaper>
    </MudItem>
</MudGrid>

<MudGrid> 
    <MudItem>
        <MudPaper Elevation="0" Class="d-flex align-center justify-center mud-width-full py-8" style="background: #FFF8E1 ;width:600px;">
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <MudText Align="Align.Center" Style="text-align:justify">
                <br /><br /><br /><br /><br /><br />
                <b>PHONG CÁCH RIMBERIO</b>
                <br />
                 Phục vụ khách hàng tốt nhất, nhanh nhất, chu đáo nhất và tiết kiệm nhất. RIMBERIO là Nhà sách, vì vậy Dịch vụ của RIMBERIO hướng đến và hiểu những quý khách hàng là những người đọc sách.       
                <br />
                Hiện nay, RIMBERIO là nhà sách trên mạng có số lượng đầu sách lớn và cập nhật mới mỗi ngày.
            </MudText>
        </MudPaper>
    </MudItem>
    <MudItem>
        <div style="border:0">
            <MudPaper Elevation="0" Class=" align-center justify-center mud-width-full py-8" style="background: #FFF8E1">
                <MudImage Fluid="true" Src="https://scontent.fdad1-3.fna.fbcdn.net/v/t1.15752-9/356876043_968806594355587_1852539611258557847_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=ae9488&_nc_ohc=nE9215xDy8AAX9IaicO&_nc_ht=scontent.fdad1-3.fna&oh=03_AdShc3ZuBRjCGSE0CP2qoKfVhvS15yvJrG4DCr7h8F6z5w&oe=64C39195" style="width:800px;" />
            </MudPaper>
        </div>
    </MudItem>
</MudGrid>

<MudGrid>
    <MudItem>
        <div style="border:0">
            <MudPaper Elevation="0" Class=" align-center justify-center mud-width-full py-8" style="background: #FFF8E1">
                <MudImage Fluid="true" Src="https://scontent.fdad2-1.fna.fbcdn.net/v/t1.15752-9/356575557_160724423679204_5107183641181043823_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=ae9488&_nc_ohc=QwxQmU_rVqoAX9_wqiE&_nc_ht=scontent.fdad2-1.fna&oh=03_AdQD-8IBxjg1cgJP6iLbHCLtHX9ToFPc645oWLe0vkaOYg&oe=64C3AA31" style="width:700px;" />
            </MudPaper>
        </div>
    </MudItem>
    <MudItem>
        <MudPaper Elevation="0" Class="d-flex align-center justify-center mud-width-full py-8" style="background: #FFF8E1 ;width:700px;">
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <MudText Align="Align.Center" Style="text-align:justify">
                <br /><br /><br /><br /><br /><br /><br /><br /><br />
                <b>DỊCH VỤ RIMBERIO</b>
                <br />
                Đặt hàng trực tuyến, giao hàng tận nơi.              
                <br />
                Sách trước khi giao được bao bọc cẩn thận trong thùng giấy hoặc túi giấy Kraft Vintage, lịch sự và bảo vệ môi trường.
                <br />
                Sẵn sàng giao đến mọi miền đất nước thông qua dịch vụ giao hàng của Bưu Chính Việt Nam.
                <br />
                Chuyển sách đi nước ngoài thông qua dịch vụ chuyển phát nhanh DHL hoặc chuyển phát bằng máy bay.
                <br />
                Nhiều hình thức thanh toán tiện lợi, trả trước bằng thẻ trực tuyến hoặc thu tiền tận nơi.
                <br />
                Dịch vụ bọc sách bằng bọc nhựa cao cấp, thực hiện tỉ mỉ và cẩn thận cho từng cuốn.
                <br />
                Dịch vụ gói quà, giúp quý khách gởi tặng những món quà tinh thần bổ ích đến những người thân yêu.
                <br />
                Dịch vụ chăm sóc khách hàng 7 ngày trong tuần, kể cả thứ 7 và chủ nhật thông qua tổng đài 0234 875 242 hoặc hệ thống hỗ trợ khách hàng qua email tại support@gmail.com hoặc các hình thức chat trực tuyến Facebook, Instagram.
                <br />
                Trong trường hợp quý khách có bất kỳ nhu cầu hay câu hỏi nào về sách, đừng ngần ngại gửi email về cho chúng tôi theo địa chỉ: support@gmail.com hoặc tổng đài 0234875242.

            </MudText>
        </MudPaper>
    </MudItem>
</MudGrid>


@code {
    private bool arrows = true;
    private bool bullets = true;
    private bool enableSwipeGesture = true;
    private bool autocycle = true;
    private Transition transition = Transition.Custom;

}
